body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: aqua;
    margin: 0;
}
h1{
    text-align: center;
}
#ul-people{
    display: flex;
    flex-direction: column; 
    height: 28vh;
    width: 20vh;
    border: solid black 5px;
    border-radius: 12px;
}
#ul-starships{
    display: flex;
    flex-direction: column;
    height: 28vh;
    width: 20vh;
    border: solid black 5px;
    border-radius: 12px;
}
#display{
    display: flex;
    flex-direction: column;
    height: 28vh;
    width: 15vh;
    border: solid black 5px;
    border-radius: 12px;
}