@use 'sass units' as *;

body{
    height: 100vh;
    margin: 0;
    // background-color: $backroundcolor;
    // color: $textcolor;
}

header {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: xx-large;
}
#people-search{
    display: flex;
    justify-content: center;
}





#people{
    flex-direction: row; 
    height: 35vh;
    width: 30vh;
    @include block-border;
}
#starships{
    flex-direction: row;
    height: 35vh;
    width: 30vh;
    @include block-border;
}
#display{
    flex-direction: row;
    height: 35vh;
    width: 30vh;
    @include block-border;
}
main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}