@use 'sass units' as *;

body{
    height: 100vh;
    margin: 0;
    background-color: $backroundcolor;
    color: $textcolor;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: xx-large;
}
#people-search{
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    #people{
        flex-direction: row; 
        height: 39vh;
        width: 30vh;
        @include block-border;
        background-color: $blockcolor;    
    }
    #starships{
        flex-direction: row;
        height: 39vh;
        width: 30vh;
        @include block-border;
        background-color: $blockcolor;   
    }
    #display{
        flex-direction: row;
        height: 39vh;
        width: 30vh;
        @include block-border;
        background-color: $blockcolor;   
    }
}
li:hover{
    color: red;
    text-decoration: underline  ;
}
input{
    font-size: x-large;
    border-radius: 12px;
    background-color: yellow;
    color: black;
}
button{
    border: solid black 1px;
    border-radius: 12px;
    font-size: x-large;
    background-color: yellow;
    color: black;
}
button:hover{
    color: red;
    text-decoration: underline;
}